<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.stat.mapper.StatisticsDailyMapper">

    <cache-ref namespace="com.github.stat.mapper.StatisticsDailyMapper"/>

    <update id="loginCount">
        update statistics_daily
        set login_num = login_num + 1
        where date_calculated = #{date}
    </update>
    <update id="courseViewCount">
        update statistics_daily
        set course_num = course_num + 1
        where date_calculated = #{date}
    </update>
    <update id="videoViewCount">
        update statistics_daily
        set video_view_num = video_view_num + 1
        where date_calculated = #{date}
    </update>
</mapper>
